<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace='fragments::head(#{pageTitleEmployees})'></head>
<body>
	<nav th:replace='fragments::menu'></nav>
	
	<div th:if='${employees != null && employees.size() > 0}' th:each='employee : ${employees}'>
		<dl>
			<dt th:text='#{employeeBirthDate}'></dt>
			<dd th:text='${employee.birthDate}'></dd>
			<dt th:text='#{ssn}'></dt>
			<dd th:text='${employee.socialSecurityNumber}'></dd>
		</dl>
		<span>
			<a th:href='@{/employees/{id}/ssn(id=${employee.id})}'><span th:text='#{employeeSocialSecurityNumber}'></span></a>
		</span>
	</div>
</body>
</html>